<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>좋아요 테스트</title>
</head>
<body>
    <!-- GET 메소드를 사용하여 newsId를 쿼리 파라미터로 전달 -->
    <form action="/api/v1/itNews/like/2" method="post">
        <input type="hidden" name="newsId" value="2" /> <!-- 실제 newsId 값으로 수정 -->
        <button type="submit">좋아요</button>
    </form>
</body>
</html>
