<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MinIO</title>
</head>
<body>
  <h1>MinIO 테스트</h1>
  <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="files" id="files" multiple required />
    <button type="submit">파일 업로듸하기</button>
  </form>
</body>
</html>
